version: '3.9'
services:
  my-burger:
    build:
      context: .
      target: builder
    command: 'npm run start'
    image: my-burger
    container_name: my-burger
    working_dir: /usr/src/app
    ports:
      - '3000:3000'
    env_file:
      - ./.env.development.local
    volumes:
      - ./src:/usr/src/app/src/
