.Header {
  display: flex;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703809;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
}

.Header nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

.DesktopOnly {
  display: none;
}

@media (min-width: 500px) {
  .DesktopOnly {
    display: flex;
  }
}
