.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;

  form {
    border: 4px #9a826e solid;
    border-radius: 15px;
  }
}

.AuthError {
  color: red;
}

@media (min-width: 600px) {
  .Auth {
    width: 600px;
  }
}
